
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";


@theme {
  --font-anthro: AnthroTrialSemiBold, sans-serif;
  --font-poppins: Poppins, sans-serif;
  --font-lato: Lato, sans-serif;
  --font-roboto: Roboto, sans-serif;
  --font-inter: Inter, sans-serif;
  --font-summer: "Summer Festival", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Add to your global CSS */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Force GPU acceleration */
.optimized-transform {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}